@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Source Sans Pro", sans-serif;
}

.formStyle {
  position: relative;
  top: 206px;
  left: 121px;
}

.formHeading {
  color: #673ab7;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-align: left;
}

.field {
  color: #616161;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
}
