@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  font-family: "Source Sans Pro", sans-serif;
}

.formStyle {
  position: relative;
  top: 206px;
  left: 121px;
}

.formHeading {
  color: #673ab7;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  text-align: left;
}

.field {
  color: #616161;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
}

.submitBtn {
  width: 100px;
  height: 32px;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background: rgba(76, 175, 80, 0.8);
  border: 1px solid #4caf50;
  border-radius: 5px;
  margin-left: 600px;
  margin-top: 100px;
}

.field input {
  margin-left: 15px;
  color: #000000;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 5px;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.filterBtn {
  width: 100px;
  height: 37px;
  color: #2196f3;
  font-family: "Source Sans Pro";
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background: #ffffff;
  border: 1px solid #2196f3;
  border-radius: 5px;
  margin-left: 250px;
}

.content {
  padding-top: 200px;
}
